.modalStyles{
    background: #60fd68;
    position: fixed;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}